<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_WonderfulActive_Hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,108},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>UI_WonderfulActive_New.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,104},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>UI_WonderfulActive_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{222,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,73}}</string>
                <key>sourceSize</key>
                <string>{222,73}</string>
            </dict>
            <key>UI_WonderfulActive_Title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,77},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{117,29}</string>
            </dict>
            <key>UI_WonderfulActive_TitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{244,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,36}}</string>
                <key>sourceSize</key>
                <string>{244,36}</string>
            </dict>
            <key>UI_WonderfulActive_TitleBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{270,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,154}}</string>
                <key>sourceSize</key>
                <string>{270,154}</string>
            </dict>
            <key>UI_WonderfulActive_TitleBgChioce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,162}}</string>
                <key>sourceSize</key>
                <string>{278,162}</string>
            </dict>
            <key>UI_WonderfulActive_TitleImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{270,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,154}}</string>
                <key>sourceSize</key>
                <string>{270,154}</string>
            </dict>
            <key>s17.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,77},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,25}}</string>
                <key>sourceSize</key>
                <string>{91,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ActiveSystem.png</string>
            <key>size</key>
            <string>{516,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec874004a7323f3c99e7620c7650913f:34ea484a81b933716296c74c619c5891:50cfbcd16baa4af11adcd03b85556013$</string>
            <key>textureFileName</key>
            <string>ActiveSystem.png</string>
        </dict>
    </dict>
</plist>
